@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100dvh;
    font-family: var(--font-manrope), sans-serif;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h4,
  label,
  button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
